<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="d-flex">
  <div class="d-flex w-50">
    <form [formGroup]="form" class="left-form">
      <div class="mb-4">
        <welko-name-form-control [formControlName]="name"></welko-name-form-control>
      </div>
      <div class="mb-4">
        <mat-form-field class="w-100">
          <input matInput [formControlName]="phoneNumber" placeholder="Phone number" />
        </mat-form-field>
      </div>
      <div>
        <welko-duration-form-control [formControlName]="duration"></welko-duration-form-control>
      </div>
    </form>
  </div>
  <div class="d-flex w-50">
    <form #secondForm="ngForm" class="name-form-control">
      <div class="mb-4">
        <welko-name-form-control [(ngModel)]="otherName" [ngModelOptions]="{ standalone: true }">
        </welko-name-form-control>
      </div>
      <div>
        <welko-duration-form-control
          [(ngModel)]="otherDuration"
          [ngModelOptions]="{ standalone: true }"
        >
        </welko-duration-form-control>
      </div>
    </form>
  </div>
</div>
<div>
  <h2>Form information</h2>
  <p>Form valid: {{ form.valid }}</p>
  <p>Form value: {{ formValue }}</p>
</div>

<div>
  <h2>Right side information</h2>
  <p>name: {{ otherNameValue }}</p>
  <p>duration: {{ otherDurationValue }}</p>
</div>
